.embed-search-flex-grid {
    display: flex;
    justify-content:flex-start;
  }
  .embed-search-col {
    flex: 1;
  }
  .embed-search-tick{
    max-width:22px;
  
  }
  .embed-search-note{
    margin-top:-2px;
    font-size: 15px;
  }